/* src/App.css */

main {
  padding-top: 60px;
  /* Aseguramos que el contenido no se oculte detrás del navbar */
  display: flex;
  /* Usamos flexbox para centrar el contenido */
  flex-direction: column;
  justify-content: center;
  /* Centramos el contenido verticalmente */
  align-items: center;
  /* Centramos el contenido horizontalmente */
  min-height: 100vh;
  /* Para que cubra al menos el 100% de la altura de la pantalla */
  text-align: center;
  /* Centramos el texto */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}